/* Basic Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
body {
    font-family:cursive, Arial;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    height: 100vh;
    padding-top: 20px;
  }
  
  .container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 30px;
  }
  
  h2 {
    margin-bottom: 15px;
  }
  
  h3 {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  input, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  ul li {
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
  }
  
  .social-sharing button {
    background-color: #1DA1F2;
  }
  
  .social-sharing button:hover {
    background-color: #0077b5;
  }
  